<html>
    <body>
        {{>header}}
             <img src="/img/brahmi.jpg" width="200px" height="200px" align="center"><img src="/img/riyaz.jpg" width="200px" height="200px" align="center">
        <p>edo saradaga chesa le mawa,about raasentha ledhu akkada</p>
    </body>
</html>