<h1 align="center">Hi this is home page</h1>
<h2 align="center">click on below link to enter respective page</h2>
<form align="center">
<input placeholder="location" align="center">
<button align="center">Search</button>
</form>
<p id="para1"></p>
<p id="para2"></p>
<p id="para3"></p>
<script src="/js/java.js"></script>
<style>h1{color:blue;}</style>
{{>header}}