<link rel="stylesheet" href="/css/style.css">
<h1 align="center" id="title">Weather Fetching</h1>
<br><h2 align="center" id="title2">Enter a location name to fetch present weather condition</h2>
<form align="center">
<input placeholder="enter location" align="center" id="location">
<button align="center" id="button">Search</button>
</form>
<p id="para1"></p>
<p id="para2"></p>
<p id="para3"></p>
<p id="para4"></p>
<p id="para5"></p>
<p id="para6"></p>
<p id="para7"></p>
<p id="para8"></p>
<script src="/js/java.js"></script>
{{>header}}
<button id="name">by RiyazAhammad.Sk</button>