<html>
    <head><link rel="stylesheet" href="css/style.css"></head>
    <body>
        <style>p{color:RED;},h1{color:WHITE;}</style>
       
        
         
        <div class="hero-image">
        <img src="img/bgr.jpg">

        
        <div class="name"><h1 align="center"><strong>{{>header}}THE AVENGERS</strong></h1></div><br>
        
         <br><br><div class="hero-text"> <img src="img/riyaz.jpg" width="100px" heigt="100px">
        </div>
        <div class="avengers"><img src="img/captain.jpg" width="200px" height="200px"><p align="center">CAPTAIN AMERICA</p></div>
        <div class="ironman"><img src="img/ironman2.jpg" width="200px" height="200px"><br> <p align="center">IRONMAN</p></div>
        <div class="hulk"><img src="img/hulk.jpg" width="200px" height="200px"><br> <p align="center">HULK</p></div>
         <div class="thor"><img src="img/thor3.jpg" width="200px" height="200px"><br> <p align="center">THOR</p></div>
         <div class="form-j">
             <form>
                 <label for="fname">UserName:</label>
                 <input type="text" id="fname" name="fname"><br><br>
                 <label for="password">Password:</label>
                 <input type="password" id="password" name="password"><br>
                 <button type="submit" onclick="submit()">SUBMIT</button><br>
                 
                
                  <script language="javascript" type="text/javascript">
             function submit(){
                document.write("Hi hello")
             }
             </script>
             </form>
            
             </div>
         </div>
        
       
</div> 

 

        
    </body>
    </html>